<%- include('headers') %>

        <h1><%= ListTitle %></h1>

        <ul class = 'listStyleType'>
            <% newListItems.forEach((item, index) => { %>
                <li>
                    <div class = 'listContainer'>
                        <input type = 'checkbox'>
                        <p><%= item %></p>
                    </div>
                </li>
            <% })%>
        </ul>

        
        <form action = '/' method = 'POST'>
            <input type = 'text' name = 'newItem' placeholder = 'New Item' required autofocused>
            <button type = 'submit' name = 'listTitle' value = <%= ListTitle %>>+</button>
        </form>
  
<%- include('footers') %>